body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
body, html {
    height: 100%;
}
.logo-title {
    background-color: fuchsia;
    color: ghostwhite;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}
.details-title {
    background-color: cornsilk;
    position: absolute;
    left: 3vw;
    bottom: 2vw;
}
.thumbnails-list {
    padding-left: 0;
    padding-top: 2.5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 25vh;
    overflow-y: auto;
    justify-content: space-around;
    list-style: none;
}
.thumbnails-item {
    margin-top: 2vh;
    margin-left: 2vw;
    border: 1px solid blue;
    border-radius: 20px;
}
.thumbnails-image {
    display: block;
    width: 20vw;
    height: 18vw;
}
.details-image{
    width: 60vw;
    height: 55vw;
}
.thumbnails-title {
    text-align: center;
    display: block;
    background-color: beige;
    color: blue;
    font-size: 1.2rem;
}
.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.thumbnails-anchor {
    text-decoration: none;
}
@media (min-width: 568px) {

    .details-container{
        position: absolute; top: 25vh;
        height: 60vh;
        right: 2vw;
    }
    .thumbnails-list{
        flex-direction: column;
        flex-wrap: nowrap;
        order: -1;
        justify-content: unset;
        max-height: 65vh;
        position: absolute; top: 20vh;
        left: 1vw;
        padding: 10px;   
    }
    .thumbnails-title {
        width: 20vw;
    }
    .thumbnails-item {
        max-width: 20vw; 
    }
    .logo-title{
        position: fixed; 
        top: 0; 
        width: 100%; 
    }
    .footer-title{
        position: fixed; 
        text-align: center;
        bottom: 0; 
        width: 100%; 
    }
    body{
        overflow: hidden;
    }
    .details-title {
        left: 1vw;
        bottom: -3vw;
    }
}